.navbar {

    box-shadow: 2px 2px 5px black; opacity: .7;

    
}

.navbar .nav-item .nav-link {

    color: blanchedalmond
}

.main-header {

    background-image: url(../img/background.jpg);
    background-size: cover;



}

.background-overlay {

    background-color: rgba(48, 51, 107, .7);
}
.form-control, .btn {
border-radius: 0;

}

.team  {
    background-color: #30336b;
    
}

.copy { background-color: #30336b ;

    color: whitesmoke;
    text-align: center;


}


